<a href="https://colab.research.google.com/github/setyo-dwi-pratama/data-analyst/blob/master/sales2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Retail (Sales)**

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
sales = pd.read_csv("https://raw.githubusercontent.com/setyo-dwi-pratama/data-analyst/master/sales.csv") #input file dataset sales

In [4]:
sales

            order_id  order_date customer_id  ...     sales quantity    profit
0     CA-2016-152156  2016-11-08    CG-12520  ...  261.9600        2   41.9136
1     CA-2016-152156  2016-11-08    CG-12520  ...  731.9400        3  219.5820
2     CA-2016-138688  2016-06-12    DV-13045  ...   14.6200        2    6.8714
3     US-2015-108966  2015-10-11    SO-20335  ...  957.5775        5 -383.0310
4     US-2015-108966  2015-10-11    SO-20335  ...   22.3680        2    2.5164
...              ...         ...         ...  ...       ...      ...       ...
9983  CA-2014-110422  2014-01-21    TB-21400  ...   25.2480        3    4.1028
9984  CA-2017-121258  2017-02-26    DB-13060  ...   91.9600        2   15.6332
9985  CA-2017-121258  2017-02-26    DB-13060  ...  258.5760        2   19.3932
9986  CA-2017-121258  2017-02-26    DB-13060  ...   29.6000        4   13.3200
9987  CA-2017-119914  2017-05-04    CC-12220  ...  243.1600        2   72.9480

[9988 rows x 9 columns]

In [5]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9988 entries, 0 to 9987
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      9988 non-null   object
 1   order_date    9988 non-null   object
 2   customer_id   9988 non-null   object
 3   segment       9988 non-null   object
 4   category      9988 non-null   object
 5   sub_category  9988 non-null   object
 6   sales         9988 non-null   float64
 7   quantity      9988 non-null   int64
 8   profit        9988 non-null   float64
dtypes: float64(2), int64(1), object(6)
memory usage: 702.4+ KB

In [6]:
sales.columns

Index(['order_id', 'order_date', 'customer_id', 'segment', 'category',
       'sub_category', 'sales', 'quantity', 'profit'],
      dtype='object')

In [7]:
sales.isnull().sum()

order_id        0
order_date      0
customer_id     0
segment         0
category        0
sub_category    0
sales           0
quantity        0
profit          0
dtype: int64

In [8]:
sales['order_date'] = pd.to_datetime(sales['order_date'])

In [9]:
sales.sort_values(by=['order_date'], ignore_index=True, inplace=True)

In [10]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9988 entries, 0 to 9987
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      9988 non-null   object
 1   order_date    9988 non-null   datetime64[ns]
 2   customer_id   9988 non-null   object
 3   segment       9988 non-null   object
 4   category      9988 non-null   object
 5   sub_category  9988 non-null   object
 6   sales         9988 non-null   float64
 7   quantity      9988 non-null   int64
 8   profit        9988 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 702.4+ KB

In [11]:
sales

            order_id order_date customer_id  ...    sales quantity   profit
0     CA-2014-103800 2014-01-03    DP-13000  ...   16.448        2   5.5512
1     CA-2014-112326 2014-01-04    PO-19195  ...    3.540        2  -5.4870
2     CA-2014-112326 2014-01-04    PO-19195  ...  272.736        3 -64.7748
3     CA-2014-112326 2014-01-04    PO-19195  ...   11.784        3   4.2717
4     CA-2014-141817 2014-01-05    MB-18085  ...   19.536        3   4.8840
...              ...        ...         ...  ...      ...      ...      ...
9983  CA-2017-115427 2017-12-30    EB-13975  ...   20.720        2   6.4750
9984  CA-2017-156720 2017-12-30    JM-15580  ...    3.024        3  -0.6048
9985  CA-2017-143259 2017-12-30    PO-18865  ...   52.776        3  19.7910
9986  CA-2017-143259 2017-12-30    PO-18865  ...   90.930        7   2.7279
9987  CA-2017-143259 2017-12-30    PO-18865  ...  323.136        4  12.1176

[9988 rows x 9 columns]

# Akses Data Pertahun

In [12]:
def data0(tah):
  hasil = pd.DataFrame()
  df = sales
  y = [2014,2015,2016,2017]
  if tah in y:
    tahun = df['order_date'].map(lambda x : x.year  == tah)
    hasil = df[tahun].reset_index(drop=True)
  else:
    print("Maaf, tidak ada data di tahun tersebut")
    print("""Pilih Tahun :
    2014
    2015
    2016
    2017""")
  return hasil

# Akses Data Pertahun dan Bulan

In [13]:
def data1(tah,bul):
  hasil = pd.DataFrame()
  df = sales
  y = [2014,2015,2016,2017]
  m = [1,2,3,4,5,6,7,8,9,10,11,12]
  if tah in y and bul in m:
    tahun = df['order_date'].map(lambda x : x.year  == tah)
    bulan = df['order_date'].map(lambda x : x.month  == bul)
    hasil = df[tahun & bulan].reset_index(drop=True)
  else:
    print("Maaf, tidak ada data ditahun dan bulan tersebut")
    print("""Pilih Tahun :
    2014
    2015
    2016
    2017""")
    print("""Pilih Bulan :
    1 : Januari
    2 : Februari
    3 : Maret
    4 : April
    5 : Mei
    6 : Bulannya Setyo nah
    7 : Juli
    8 : Agustus
    9 : September
    10 : Oktober
    11 : November
    12 : Desember""")
  return hasil

# Akses Data Pertahun, Bulan dan Segment

In [15]:
def data2(tah, bul, seg):
  hasil = pd.DataFrame()
  df = data1(tah, bul)
  teks = str(seg)
  seg_unique = ["Consumer","Home Office","Corporate"]
  if seg in seg_unique:
    segment1 = df[df['segment'] == teks]
    hasil = segment1.reset_index(drop=True) 
  else:
    print("Maaf Anda Salah Input Data")
  return hasil

In [16]:
data2(2014,1,'Consumer')

          order_id order_date customer_id  ...     sales quantity    profit
0   CA-2014-103800 2014-01-03    DP-13000  ...    16.448        2    5.5512
1   CA-2014-141817 2014-01-05    MB-18085  ...    19.536        3    4.8840
2   CA-2014-130813 2014-01-06    LS-17230  ...    19.440        3    9.3312
3   CA-2014-105417 2014-01-07    VS-21820  ...    10.430        7  -18.2525
4   CA-2014-105417 2014-01-07    VS-21820  ...    76.728        3  -53.7096
5   CA-2014-135405 2014-01-09    MS-17830  ...     9.344        2    1.1680
6   CA-2014-135405 2014-01-09    MS-17830  ...    31.200        3    9.7500
7   CA-2014-130092 2014-01-11    SV-20365  ...     9.940        2    3.0814
8   CA-2014-118192 2014-01-13    MM-17920  ...     3.438        2   -2.5212
9   CA-2014-118192 2014-01-13    MM-17920  ...    37.408        7   13.0928
10  CA-2014-157147 2014-01-13    BD-11605  ...  1325.850        5  238.6530
11  CA-2014-157147 2014-01-13    BD-11605  ...   333.999        3    3.9294
12  CA-2014-157147 2014-01-13    BD-11605  ...    19.900        5    6.5670
13  CA-2014-109232 2014-01-13    ND-18370  ...   545.940        6   87.3504
14  CA-2014-103366 2014-01-15    EH-13990  ...   149.950        5   65.9780
15  CA-2014-115791 2014-01-16    DL-13315  ...    30.072        3   10.1493
16  CA-2014-115791 2014-01-16    DL-13315  ...    18.588        2  -13.6312
17  CA-2014-115791 2014-01-16    DL-13315  ...   124.200        3  -31.0500
18  CA-2014-115791 2014-01-16    DL-13315  ...   127.104        6   28.5984
19  CA-2014-146591 2014-01-19    TS-21340  ...    32.340       10  -23.7160
20  CA-2014-146591 2014-01-19    TS-21340  ...    56.064        4   19.6224
21  CA-2014-146591 2014-01-19    TS-21340  ...   108.720        5   36.6930
22  CA-2014-146591 2014-01-19    TS-21340  ...   181.470        5 -320.5970
23  US-2014-147627 2014-01-20    HL-15040  ...    23.340        3   10.9698
24  CA-2014-148614 2014-01-20    MV-17485  ...    19.360        2    9.2928
25  US-2014-147627 2014-01-20    HL-15040  ...     6.630        3    1.7901
26  US-2014-147627 2014-01-20    HL-15040  ...    38.600        4   11.5800
27  US-2014-147627 2014-01-20    HL-15040  ...    22.960        7    6.6584
28  CA-2014-167927 2014-01-20    XP-21865  ...    19.050        5    8.9535
29  CA-2014-148614 2014-01-20    MV-17485  ...    19.300        2    5.7900
30  US-2014-147627 2014-01-20    HL-15040  ...   699.930        7  181.9818
31  CA-2014-167927 2014-01-20    XP-21865  ...    66.580        2   15.9792
32  US-2014-147627 2014-01-20    HL-15040  ...  1067.940        3  224.2674
33  CA-2014-167927 2014-01-20    XP-21865  ...   247.716        4   93.5816
34  CA-2014-167927 2014-01-20    XP-21865  ...    43.920        3   12.7368
35  CA-2014-167927 2014-01-20    XP-21865  ...    14.730        3    4.8609
36  CA-2014-167927 2014-01-20    XP-21865  ...    29.700        5   13.3650
37  CA-2014-167927 2014-01-20    XP-21865  ...    13.980        1    4.0542
38  CA-2014-167927 2014-01-20    XP-21865  ...   272.940        3   30.0234
39  CA-2014-110422 2014-01-21    TB-21400  ...    25.248        3    4.1028
40  CA-2014-102645 2014-01-23    IM-15055  ...    40.080        6   19.2384
41  CA-2014-146997 2014-01-23    SG-20605  ...     5.940        3    0.0000
42  US-2014-117163 2014-01-27    EJ-13720  ...   333.000        3  -16.6500
43  US-2014-117163 2014-01-27    EJ-13720  ...    57.230        1   14.3075
44  US-2014-117163 2014-01-27    EJ-13720  ...    36.440        4   12.0252
45  CA-2014-100328 2014-01-28    JC-15340  ...     3.928        1    1.3257
46  CA-2014-134103 2014-01-30    MV-18190  ...    10.560        2    4.7520
47  CA-2014-134103 2014-01-30    MV-18190  ...   229.940        2    6.8982
48  CA-2014-115161 2014-01-31    LC-17050  ...   290.666        2    3.4196

[49 rows x 9 columns]

# Report berdasarkan tahun, bulan dan segment

In [79]:
def data3(tah, bul, seg):
  df = data1(tah, bul)
  teks = str(seg)
  seg_unique = ["Consumer","Home Office","Corporate"]
  if seg in seg_unique:
    segment1 = df[df['segment'] == teks]
    hasil = segment1.reset_index(drop=True)
    print("customer_id_count :", hasil['customer_id'].count())
    print("quantity_sum :", hasil['quantity'].sum())
    print("sales_sum :", hasil['sales'].sum())
    print("profit_sum :", hasil['profit'].sum())
  else:
    print("Maaf Anda Salah Input Data")

In [80]:
data3(2014, 1, 'Consumer')

customer_id_count : 49
quantity_sum : 180
sales_sum : 6927.817
profit_sum : 766.2263

In [81]:
data3(2014,2, 'Consumer')

customer_id_count : 27
quantity_sum : 95
sales_sum : 3167.854
profit_sum : 496.8669

In [82]:
data3(2014,3, 'Consumer')

customer_id_count : 78
quantity_sum : 296
sales_sum : 11869.304
profit_sum : 597.2773

# Report Grant Total Pertahun

In [25]:
def data4(tah):
  hasil = pd.DataFrame()
  df = sales
  y = [2014,2015,2016,2017]
  if tah in y:
    tahun = df['order_date'].map(lambda x : x.year  == tah)
    hasil = df[tahun].reset_index(drop=True)
    hasil = hasil.groupby('segment').agg({'customer_id':'count', 'quantity':'sum', 'sales':'sum', 'profit':'sum'})
  else:
    print("Maaf, tidak ada data di tahun tersebut")
    print("""Pilih Tahun :
    2014
    2015
    2016
    2017""")
  return hasil

In [26]:
data4(2014)

             customer_id  quantity        sales      profit
segment
Consumer            1070      4053  266096.8126  24319.8504
Corporate            611      2331  128434.8737  13513.2769
Home Office          311      1191   67077.3318  13521.9252

In [27]:
data4(2015)

             customer_id  quantity        sales      profit
segment
Consumer            1125      4272  266535.9333  28460.1665
Corporate            636      2413  128757.3069  20688.3248
Home Office          341      1294   75239.2688  12470.1124

# Report Berdasarkan Quarter

In [87]:
def data5(tah):
  hasil = pd.DataFrame()
  df = sales
  y = [2014,2015,2016,2017]
  if tah in y:
    tahun = df['order_date'].map(lambda x : x.year  == tah)
    hasil = df[tahun].reset_index(drop=True)
    q1 = df['order_date'].map(lambda x : x.month <= 3)
    q2 = df['order_date'].map(lambda x : x.month > 3 and x.month <= 6)
    q3 = df['order_date'].map(lambda x : x.month > 6 and x.month <= 9)
    q4 = df['order_date'].map(lambda x : x.month > 9 and x.month <= 12)
    hasil1 = df[tahun & q1].reset_index(drop=True)
    hasil1 = hasil1.groupby('segment').agg({'customer_id':'count', 'quantity':'sum', 'sales':'sum', 'profit':'sum'})
    hasil2 = df[tahun & q2].reset_index(drop=True)
    hasil2 = hasil2.groupby('segment').agg({'customer_id':'count', 'quantity':'sum', 'sales':'sum', 'profit':'sum'})
    hasil3 = df[tahun & q3].reset_index(drop=True)
    hasil3 = hasil3.groupby('segment').agg({'customer_id':'count', 'quantity':'sum', 'sales':'sum', 'profit':'sum'})
    hasil4 = df[tahun & q4].reset_index(drop=True)
    hasil4 = hasil4.groupby('segment').agg({'customer_id':'count', 'quantity':'sum', 'sales':'sum', 'profit':'sum'})
    hasil = pd.concat([hasil1,hasil2,hasil3,hasil4.reindex(hasil1.index)], axis=1)
  else:
    print("Maaf, tidak ada data di tahun tersebut")
    print("""Pilih Tahun :
    2014
    2015
    2016
    2017""")
  return hasil

In [88]:
data5(2014)

             customer_id  quantity      sales  ...  quantity        sales     profit
segment                                        ...
Consumer             154       571  21964.975  ...      1469  100176.6615  8876.1268
Corporate             74       252  13991.995  ...      1009   54205.7287  6442.0238
Home Office           53       199  15852.346  ...       393   25245.3400  6405.8035

[3 rows x 16 columns]